body {
	margin: 0px;
	}
	
a {
	text-decoration: none;}

li {
	margin-bottom: 10px;
	margin-top: 10px;
	}

span{
  padding: 1px 2px 1px 2px;
  border: solid black ;
  font-size: 18px; 
  font-weight: bold; 
  color: black;
  background-color: white;
  font-family: "Courier New", monospace;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3.5px;
  margin-top: 5px;
	}
	
span-space {
  padding-bottom: 2px;
  padding-left: 7.415px;
  padding-right: 7.415px;
  border: solid black ;
  font-size: 18px; 
  background-color: white;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 6.5px;
  margin-top: 5px;
  background-size: contain;
  background-image: url('blank-space.png')
  }

span-space-weird {
  background-size: contain;
  padding-bottom: 2px;
  padding-left: 7.415px;
  padding-right: 7.415px;
  border: solid black ;
  font-size: 18px; 
  background-color: white;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-left: 4.5px;
  margin-right: 6px;
  margin-top: 5px;
  background-image: url('blank-space.png')
}
span-space-weirdr2 {
  background-size: contain;
  padding-bottom: 2px;
  padding-left: 7.415px;
  padding-right: 7.415px;
  border: solid black ;
  font-size: 18px; 
  background-color: white;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 6px;
  margin-top: 5px;
  background-image: url('blank-space.png')
}

li:hover {
	background-color: gray;
	}

ul {
	background: #00573D; 
	margin-top: 0px;
	padding-inline-start: 0px;
	padding-bottom: .5em;
	padding-top: .5em;
	}

.menus {
	border-color: grey;
	}

h1 {
	color: black;
	font-family: "Courier New", monospace;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	}

p {
	display: block;
	color: black;
	margin-left: 5px;
	max-width: 672px;
	font-family: "Courier New", monospace;
	}
