body {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5a/Planet_nine_artistic_plain.png');
	margin: 0px;
	display: inline;
	}

a {
	color: #50C878;
	font: cursive;
	font-family: "Comic Sans MS",sans-serif;
	text-decoration: none;
	}

li {
	display: inline;
	padding: .5em;
	font-family: "Comic Sans MS",sans-serif;
	color: #50C878;
	width: 175px;
	background: black;
	}
	
li:hover {
	background-color: gray;
	}

ul {
	background: black; 
	margin-top: 0px;
	padding-inline-start: 0px;
	padding-bottom: .5em;
	padding-top: .5em;
	}

.menus {
	color: gray;
	}

h1 {
	color: #32b329;
	margin-left: 5px;
	font-family: "Comic Sans MS",sans-serif;
	}

p {
	display: block;
	color: white;
	margin-left: 5px;
	max-width: 672px;
	font-family: "Comic Sans MS",sans-serif;
	}
